@use '../../styles/variables.module.scss' as *;

@mixin slow-transition {
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.teamCard {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    padding: 0;
    background-color: var(--mantine-color-g-dark-2);
    @include slow-transition;

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        border-radius: 8px;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-g-dark-2) 90%);
    }

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        width: 300px;
        height: 300px;
    }

    img {
        transition: all 0.8s ease-in-out;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        border-radius: 10px;
    }
}

.role {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 2px;
    column-gap: 4px;
    flex-wrap: wrap;
    z-index: 50;
    padding: 0 24px;
    @include slow-transition;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        p {
            font-size: 14px !important;
        }

    }
}

.description {
    padding: 48px 24px 24px 24px;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include slow-transition;
    background-color: var(--mantine-color-g-dark-2);
    border-radius: 8px;
    z-index: 2;

    transform: translateY(100%);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    p {
        font-size: 16px;
    }



    @media only screen and (max-width: $mantine-breakpoint-sm) {
        p {
            font-size: 13px;
        }
    }
}

.teamCardContentViewed {
    .description {
        opacity: 1;
        transform: translateY(0);
    }

    .role {
        bottom: 85%;
        margin-bottom: 8px;

        @media only screen and (max-width: $mantine-breakpoint-sm) {
            bottom: 83%;
        }
    }


}

// TEAM page

.teamsContainer {
    display: flex;
    flex-direction: column;
    gap: 72px;

    >h1 {
        font-size: 44px;
    }

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        gap: 48px;
        padding-top: 110px !important;

        >h1 {
            font-size: 32px;
        }
    }
}