@use '../../../../styles/variables.module.scss' as *;

@mixin slow-transition {
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

@mixin music-info {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    padding: 0 28px;
}


.musicCard {
    --content: "View Details";
    --bg-content: "transparent"
        --absOffset: 0;
    --offset: 0;
    --direction: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 0;
    background-color: var(--mantine-color-g-dark-2);
    transform-style: preserve-3d;
    cursor: pointer;
    transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--absOffset) * -0.4)) translateZ(calc(var(--absOffset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--absOffset) * 0.75rem));
    box-shadow: 0 60px 50px -60px var(--mantine-color-g-dark-9);
    @include slow-transition;

    img {
        filter: brightness(calc(100% - (var(--absOffset) * 65%)));
    }

    // Mobile only
    @media only screen and (max-width: $mantine-breakpoint-sm) {
        position: unset;
        height: 300px;
        min-width: 80vw;
        box-shadow: none;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        transform: unset;
        margin-right: 12px;
        display: inline-block;
        filter: unset;

        img {
            filter: unset;
        }

        &:hover {
            img {
                transform: unset;
            }
        }

        &::before,
        &::after {
            opacity: 1 !important;
        }

        &:before {
            content: "" !important;
            background-color: transparent !important;
        }
    }

    &::after,
    &::before {
        position: absolute;
        @include slow-transition;
        opacity: 0;
    }

    &::before {
        content: var(--content);
        font-weight: 600;
        width: max-content;
        height: max-content;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        border-radius: 4px;
        padding: 4px 12px;
        color: var(--mantine-color-g-dark-9);
        z-index: 10;
        background-color: var(--bg-content);
    }

    &::after {
        content: '';
        bottom: 0;
        left: 0;
        border-radius: 8px;
        width: 100%;
        height: 70%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-g-dark-3) 100%);
    }

    &:hover {
        filter: none;

        .musicCardNoDescription {
            opacity: 1;
            bottom: 6% !important;
        }

        &:before {
            bottom: 5%;
        }

        &::before,
        &::after {
            opacity: 1;
        }
    }
}


.musicCardContentMobile {
    display: none;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        bottom: 18px !important;
        @include music-info;
    }

}

// In case desktop and no description, we show some details on hover
.musicCardNoDescription {
    opacity: 0;
    @include music-info;
    @include slow-transition;
}

// CONTENT SHOWN ONCLICK

.musicCardContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 60px 50px -60px var(--mantine-color-g-dark-2);
    padding: 32px;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include slow-transition;
    background-color: var(--mantine-color-g-dark-2);
    background-image: none;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}


.musicCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.musicCardContentViewed {
    opacity: 1;
    transform: rotateY(180deg);

    img {
        opacity: 0;
        // so I can use the links in the header
        z-index: -1;
    }

    .musicCardContent {
        opacity: 1;
        transform: rotateY(180deg);
    }

    // so I can use the links in the header
    &::after,
    &:before {
        z-index: -1;
    }

    // don't do hover effect when details card is shown
    &:hover {

        &:after,
        &:before {
            opacity: 0;
        }
    }
}