@use '../../../../styles/variables.module.scss' as *;

.musicCard {
    --music-title: 'Music';
    --absOffset: 0;
    --offset: 0;
    --direction: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--absOffset) * -0.4)) translateZ(calc(var(--absOffset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--absOffset) * 0.75rem));
    box-shadow: 0 60px 50px -60px var(--mantine-color-g-dark-9);

    img {
        filter: brightness(calc(100% - (var(--absOffset) * 65%)));
    }

    // Mobile only
    @media only screen and (max-width: $mantine-breakpoint-sm) {
        position: unset;
        height: 300px;
        min-width: 80vw;
        box-shadow: none;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        transform: unset;
        margin-right: 12px;
        display: inline-block;
        filter: unset;

        img {
            filter: unset;
        }

        &:hover {
            img {
                transform: unset;
            }
        }

        &::before,
        &::after {
            opacity: 1 !important;
        }

        &:before {
            bottom: 5% !important;
            font-size: 18px !important;
        }
    }

    &::after,
    &::before {
        position: absolute;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }

    &::before {
        content: var(--music-title, "");
        font-weight: 600;
        font-size: 24px;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: var(--mantine-color-g-dark-9);
        z-index: 10;
    }

    &::after {
        content: '';
        bottom: 0;
        border-radius: 8px;
        width: 100%;
        height: 70%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-g-dark-3) 100%);
    }

    &:hover {
        filter: none;

        &:before {
            bottom: 5%;
        }

        &::before,
        &::after {
            opacity: 1;
        }
    }
}