@use '../../../../styles/variables.module.scss' as *;

.musicCard {
    --music-title: 'Music';
    --absOffset: 0;
    --offset: 0;
    --direction: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--absOffset) * -0.4)) translateZ(calc(var(--absOffset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--absOffset) * 0.75rem));
    box-shadow: 0 60px 50px -60px var(--mantine-color-g-dark-9);

    img {
        filter: brightness(calc(100% - (var(--absOffset) * 65%)));
    }

    // Mobile only
    @media only screen and (max-width: $mantine-breakpoint-sm) {
        position: unset;
        height: 300px;
        min-width: 80vw;
        box-shadow: none;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        transform: unset;
        margin-right: 12px;
        display: inline-block;
        filter: unset;

        img {
            filter: unset;
        }

        &:hover {
            img {
                transform: unset;
            }
        }

        &::before,
        &::after {
            opacity: 1 !important;
        }

        &:before {
            bottom: 5% !important;
            font-size: 18px !important;
        }
    }

    &::after,
    &::before {
        position: absolute;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }

    &::before {
        content: "show Details";
        content: 'View details';
        font-weight: 500;
        width: max-content;
        height: max-content;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        border-radius: 4px;
        padding: 4px 12px;
        color: var(--mantine-color-g-dark-9);
        z-index: 10;
        background-color: var(--mantine-color-g-dark-2);
    }

    &::after {
        content: '';
        bottom: 0;
        left: 0;
        border-radius: 8px;
        width: 100%;
        height: 70%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-g-dark-3) 100%);
    }

    &:hover {
        filter: none;

        &:before {
            bottom: 5%;
        }

        &::before,
        &::after {
            opacity: 1;
        }
    }
}

.musicCardContent {
    /* box-shadow: 0 60px 50px -60px; */
    padding: 32px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    background-color: var(--mantine-color-g-dark-4);
    background-image: none;
    border-radius: 10px;
    position: relative;
    z-index: 2;

    p {
        color: var(--mantine-color-g-dark-9);
        font-size: 16px;
        line-height: 1.5;
    }
}

.musicCardHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    >p {
        font-size: 16px;

    }
}

.musicCardContentViewed {
    opacity: 1;
    transform: rotateY(180deg);

    img {
        opacity: 0;
        // so I can use the links in the header
        z-index: -1;
    }

    &.musicCardContent {
        opacity: 1;
        transform: rotateY(180deg);
    }

    // so I can use the links in the header
    &::after,
    &:before {
        z-index: -1;
    }

    // don't do hover effect when details card is shown
    &:hover {

        &:after,
        &:before {
            opacity: 0;
        }
    }
}