:root[data-mantine-color-scheme='light'] {
    --mantine-color-body: var(--mantine-color-g-light-1) !important;
}

a{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    text-decoration: none !important;
    font-size: inherit;
    outline: none;
}

a:hover {
    text-decoration: none !important;
}