@import '../../styles/variables.module.scss';

.sectionContainer {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media (max-width: $mantine-breakpoint-sm) {
        height: unset;
        padding: 64px 0;
    }
}