.navLink {
    font-weight: 600;
    color: var(--mantine-color-g-dark-9);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-right: 12px;
    font-size: var(--mantine-font-size-md);

    &:hover {
        color: var(--mantine-color-g-dark-6);
        background-color: transparent;
        scale: 1.1;
    }
}


.linkContainerMobile {
    padding-inline: var(--mantine-spacing-xl);
    padding-block: var(--mantine-spacing-xl);
    margin-left: 8px;
    flex-wrap: wrap;
}

.navbarBg {
    background-color: transparent;
    transition: all 0.3s ease, color 0.3s ease;

    path {
        fill: var(--mantine-color-g-dark-9);
    }
}

.navbarScrolled {
    background-color: var(--mantine-color-g-dark-9);
    transition: all 0.3s ease;

    .navLink {
        color: var(--mantine-color-g-dark-3);

        &:hover {
            color: var(--mantine-color-g-dark-0);
        }

        &:not(.active) {
            cursor: pointer;
        }

        &.active {
            color: var(--mantine-color-g-dark-0);
            background-color: transparent;
        }


    }

    svg {
        path {
            fill: var(--mantine-color-g-dark-3) !important;
        }


        &:hover {
            path {
                fill: var(--mantine-color-g-dark-0) !important;
            }

        }
    }
}