.navLink {
    font-weight: 700;
    color: var(--mantine-color-g-dark-9);
    transition: all 0.3s ease-in-out;

    span {
        font-size: var(--mantine-font-size-sm);
    }

    &:hover {
        color: var(--mantine-color-g-dark-7);
        background-color: transparent;
        scale: 1.1;
    }
}

.linkContainerMobile {
    padding-inline: var(--mantine-spacing-xl);
    padding-block: var(--mantine-spacing-xl);
    margin-left: 8px;
}

.navbarBg {
    background-color: transparent;
    transition: all 0.3s ease, color 0.3s ease;

    path {
        fill: var(--mantine-color-g-dark-9);
    }
}

.navbarScrolled {
    background-color: var(--mantine-color-g-dark-9);
    transition: all 0.3s ease;

    .navLink {
        color: var(--mantine-color-g-light-1);

        &:hover {
            color: var(--mantine-color-g-light-2);
        }
    }

    svg>path {
        fill: var(--mantine-color-g-light-1) !important;
    }
}