@import '../../../styles/variables.module.scss';

.musicSection {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    position: relative;
    padding: 0;
}

.carousel {
    position: relative;
    height: 20rem;
    width: 100%;
    perspective: 500px;
    margin: 0 auto;
    transform-style: preserve-3d;

    // Mobile only
    @media only screen and (max-width: $mantine-breakpoint-sm) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 36rem;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.navButton {
    font-size: 3rem;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    color: var(--mantine-color-g-dark-9);
    transition: all 0.3s ease-in-out;

    &.left {
        transform: translate(-100%, -50%);
        left: 15%;
    }

    &.right {
        right: 15%;
        transform: translate(100%, -50%);
    }

    &:hover {
        color: var(--mantine-color-g-dark-9);
    }

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
}