.aboutImage {
    width: 100% !important;
    height: unset !important;
    position: relative !important;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}