.aboutImage {
    width: 100% !important;
    height: unset !important;
    position: relative !important;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}

.aboutDescription {
    color: var(--mantine-color-g-dark-9);
    p {
        font-weight: 500;
        font-size: 18px;
        text-align: justify;
    }

}
