.linkContainer {
    --svg-small: 16px;
    --svg-medium: 20px;
    --svg-big: 35px;
    --svg-size: var(--svg-medium);

    a {
        display: flex;
        align-items: center;
    }

    svg {
        width: var(--svg-size);
        height: var(--svg-size);
        transition: all 0.3s ease-in-out;

        path {
            fill: var(--mantine-color-g-dark-9);
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.2);

            path {
                fill: var(--mantine-color-g-dark-7);
            }
        }
    }
}