.liveRow {
    padding: 12px 4px;
    border-top: 1px solid var(--mantine-color-g-dark-7);
    width: 100%;
}

.liveRowLinked {
    &:hover {
        background: rgba(255, 255, 255, 20%);
    }
}

.liveRowCol {
    display: flex;
    justify-content: center;
}

.liveGridPastShows {
    margin-top: 36px;

    @media (max-width: 48em) {
        margin-top: 0;
    }
}

.liveGridSection {
    >.liveRow:last-child {
        border-bottom: 1px solid var(--mantine-color-g-dark-7);
    }
}

.showMore {
    display: flex;
    justify-content: center;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 250px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-g-light-1) 100%);
        transition: opacity 0.3s ease;
    }
}